<div class="main-area">
    <div class="content-area">
        <div class="container">
            <div class="row">
                <div class="pt-5 px-4">
                    <div class="alert alert-warning alert-dismissible">
                        <h5><i class="icon fas fa-exclamation-triangle"></i>You already submitted your response.</h5>
                        <div class="row pb-2">
                            <h5 class="col-4">Redirecting you to iConnect...</h5>
                            <div class="spinner-border " role="status">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>