<div *ngIf="submitted" class="alert alert-success">
    <h5><i class="icon fas fa-check"></i> Form Submitted!</h5>
    <h5> Thank you for your response.</h5>

    <div class="row pb-2">
        <h6 class="col-3">Redirecting you to iConnect...</h6>
        <div class="spinner-border " role="status">
        </div>
    </div>

</div>

<div [class.d-none]="submitted" class="card card-primary">

    <div [class.d-none]="submitted" class="card-header"> طلب اشتراك في امتحانت الكولوكيوم</div>


    <div class="main-area">
        <div class="content-area">

            <div class="container">
                <div class="row">




                    <div [class.d-none]="submitted" id="form" class="form-area col-12 px-5  py-3">
                        {{cForm.value | json}}

                        



                        <form #cForm="ngForm" (ngSubmit)="onSubmit(cForm.value)">


                            <p> <span style="color: #ff0000; font-size: large;">* &nbsp;</span>Required</p>


                            <h5 class="text-primary" id="sections">Section 1 - Applicant's Information</h5>

                            <div class="row">

                                <div [class.d-none]="!noshow" id="student complete phone" class="col-6 pe-3">
                                    <div class="form-group">
                                       
                                        <input type="text" name="completePhone" #completePhone="ngModel"
                                            class="form-control" [(ngModel)]="selectedOptionExtra + selectedOption3"
                                             ngModel required>
                                        
                                    </div>
                                </div>

                                <div  [class.d-none]="!noshow" id="question 1 student name" class="col-6 pe-3">
                                    <div class="form-group">
                                       
                                        <input type="text" name="personalPhoto" #personalPhoto="ngModel"
                                            class="form-control" [(ngModel)]="test"
                                             required>
                                        
                                    </div>
                                </div>


                                <div id="question 1 student name" class="col-6 pe-3">
                                    <div class="form-group">
                                        <label>{{q1}}<span style="color: #ff0000; font-size: large;">*
                                                &nbsp;</span></label>
                                        <input type="text" name="StudentName" #studentName="ngModel"
                                            [class.is-invalid]="studentName.invalid && studentName.touched"
                                            class="form-control" [(ngModel)]="selectedOption1"
                                            (ngModelChange)="saveSelection1($event)" required>
                                        <small class="text-danger"
                                            [class.d-none]="studentName.untouched || studentName.valid">Name is required</small>
                                    </div>
                                </div>

                              




                                <div id="question 2 student gender " class="col-6 ps-3">
                                    <label for="">{{q2}}<span style="color: #ff0000; font-size: large;">*
                                            &nbsp;</span></label>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Gender" id="male" value="Male"
                                            #radios1="ngModel" [class.is-invalid]="radios1.invalid && radios1.touched"
                                            required [(ngModel)]="selectedOption2"
                                            (ngModelChange)="saveSelection2($event)">
                                        <label class="form-check-label" for="male">
                                            Male
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Gender" id="female"
                                            value="Female" #radios1="ngModel"
                                            [class.is-invalid]="radios1.invalid && radios1.touched" required
                                            [(ngModel)]="selectedOption2" (ngModelChange)="saveSelection2($event)">
                                        <label class="form-check-label" for="female">
                                            Female
                                        </label>
                                    </div>

                                    <div class=" pb-3">
                                        <small class="text-danger "
                                            [class.d-none]="radios1.valid || radios1.untouched">Gender is required</small>

                                    </div>
                                </div>



                                <!-- <div id="question 3 student phone number" class="col-6 pe-3">
                                    <div class="form-group">
                                        <label>{{q3}}<span style="color: #ff0000; font-size: large;">*
                                                &nbsp;</span></label>
                                        <input type="tel" name="q3" #studentPhone="ngModel"
                                            [class.is-invalid]="studentPhone.invalid && studentPhone.touched && studentPhone.errors['mask'] "
                                            class="form-control" [(ngModel)]="selectedOption3"
                                            (ngModelChange)="saveSelection3($event)" placeholder="(+000)-00-000000"  data-inputmask="'mask': ['(+999)-99-999999']" data-mask  required>
                                        <small class="text-danger"
                                            [class.d-none]="studentPhone.untouched || studentPhone.valid ">Phone number is required</small>
                                            <div *ngIf="studentPhone.errors && (studentPhone.invalid || studentPhone.touched)">
                                                <small class="text-danger" *ngIf="studentPhone.errors['mask']">Please enter a valid email address</small>
                                                
                                          </div>
                                    </div>
                                </div> -->
                                <div id="question extra student country code" class="col-2 pe-3">
                                    <div class="form-group">
                                        <label>الرقم الدولي<span style="color: #ff0000; font-size: large;">*
                                                &nbsp;</span></label>
                                        <input type="tel" name="CountryCode" #studentPhoneCode="ngModel"
                                            [class.is-invalid]="studentPhoneCode.invalid && studentPhoneCode.touched"
                                            class="form-control" [(ngModel)]="selectedOptionExtra"
                                            (ngModelChange)="saveSelectionExtra($event)" pattern="^(\+?\d{1,3}|\d{1,4})$" required>
                                            <div *ngIf="studentPhoneCode.touched && (studentPhoneCode.invalid || studentPhoneCode.errors)">
                                                <small class="text-danger" *ngIf="studentPhoneCode.errors['required']">Country code number is required</small>
                                                <small class="text-danger" *ngIf="studentPhoneCode.errors['pattern']">Enter a valid country code number </small>
                                          </div>
                                                
                                         
                                    </div>
                                </div>
                               

                                <div id="question 3 student phone number" class="col-4 pe-3">
                                    <div class="form-group">
                                        <label>{{q3}}<span style="color: #ff0000; font-size: large;">*
                                                &nbsp;</span></label>
                                        <input type="tel" name="PhoneNumber" #studentPhone="ngModel"
                                            [class.is-invalid]="studentPhone.invalid && studentPhone.touched"
                                            class="form-control" [(ngModel)]="selectedOption3"
                                            (ngModelChange)="saveSelection3($event)" placeholder="Enter Phone number wih NO spaces" pattern="^\d{8}$" required>
                                            <div *ngIf="studentPhone.touched && (studentPhone.invalid || studentPhone.errors)">
                                                <small class="text-danger" *ngIf="studentPhone.errors['required']">Phone number is required</small>
                                                <small class="text-danger" *ngIf="studentPhone.errors['pattern']">Phone number must be 8 digits</small>
                                          </div>
                                                
                                         
                                    </div>
                                </div>

                                <div id="question 4 student email address" class="col-6 ps-3">
                                    <div class="form-group">
                                        <label>{{q4}}<span style="color: #ff0000; font-size: large;">*
                                                &nbsp;</span></label>
                                        <input type="text" name="EmailAddress" #studentEmail="ngModel"
                                            [class.is-invalid]="studentEmail.invalid && studentEmail.touched"
                                            class="form-control" [(ngModel)]="selectedOption4"
                                            (ngModelChange)="saveSelection4($event)" pattern="^([\w\-\.]+)@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,4}))$" required>
                                            <div *ngIf="studentEmail.touched && (studentEmail.invalid || studentEmail.errors)">
                                                <small class="text-danger" *ngIf="studentEmail.errors['required']">Email address is required</small>
                                                <small class="text-danger" *ngIf="studentEmail.errors['pattern']">Please enter a valid email address</small>
                                          </div>
                                                
                                         
                                    </div>
                                </div>

                            
                        

                                <div id="question 5 student place of birth" class="col-6 pe-3">
                                    <div class="form-group">
                                        <label>{{q5}}<span style="color: #ff0000; font-size: large;">*
                                                &nbsp;</span></label>
                                        <input type="text" name="PlaceofBirth" #studentPlaceBirth="ngModel"
                                            [class.is-invalid]="studentPlaceBirth.invalid && studentPlaceBirth.touched"
                                            class="form-control" [(ngModel)]="selectedOption5"
                                            (ngModelChange)="saveSelection5($event)" required>
                                        <small class="text-danger"
                                            [class.d-none]="studentPlaceBirth.untouched || studentPlaceBirth.valid">Place of birth is required</small>
                                    </div>
                                </div>

                                <div id="question 6 student date of birth" class="col-6 ps-3">
                                    <div class="form-group">
                                        <label>{{q6}}<span style="color: #ff0000; font-size: large;">*
                                                &nbsp;</span></label>
                                        <input type="text" name="DateofBirth" #studentDateBirth="ngModel"  placeholder="dd/mm/yyyy"  
                                       
                                            [class.is-invalid]="studentDateBirth.invalid && studentDateBirth.touched"
                                            class="form-control" [(ngModel)]="selectedOption6"
                                            (ngModelChange)="saveSelection6($event)" required>
                                        <small class="text-danger"
                                            [class.d-none]="studentDateBirth.untouched || studentDateBirth.valid">Date of birth is required</small>
                                    </div>
                                </div>
                            </div>

                            <h5 class="text-primary " id="sections">Section 2 - Required Documents</h5>

                            <div class="row">
                                <div id="question 7 upload jpg personal photo" class="col-6 pe-3">
                                    <div class="mb-3 form-group">
                                        <label>{{q7}}<span style="color: #ff0000; font-size: large;">*
                                            &nbsp;</span></label>
                                            <input type="file"  class="form-control" (change)="onFileSelected($event)" 
                                            name="personalPhoto" accept="image/*"
                                            
                                            >  
                                           

                                        <!-- <input type="file" id="file1" placeholder="File must be of type jpg"
                                        #personalPhoto="ngModel" name="PersonalPhoto"  accept="image/jpeg"
                                        [class.is-invalid]="personalPhoto.invalid && personalPhoto.touched"
                                        class="form-control" ngModel
                                         required > -->
                                         <small class="text-danger"
                                         [class.d-none]="personalPhoto.untouched || personalPhoto.valid">This field is required</small>


                                    </div>
                                </div>

                                <!-- <div id="question 7 personal photo" class="col-6 ps-3">
                                    <div class="form-group">
                                        <label>{{q7}}<span style="color: #ff0000; font-size: large;">*
                                                &nbsp;</span></label>
                                        <input type="file" (change)="onFileSelected($event)" name="personalPhoto" accept="image/*" #personalPhoto="ngModel"   
                                       
                                            [class.is-invalid]="personalPhoto.invalid && personalPhoto.touched"
                                            class="form-control" 
                                             required ngModel>
                                        <small class="text-danger"
                                            [class.d-none]="personalPhoto.untouched || personalPhoto.valid">This field is required</small>
                                    </div>
                                </div> -->

                                
                                

                            </div>


                            <div class="row">
                                
                                <div class=" col-3 py-3">
                                  <button *ngIf="cForm.form.invalid" [disabled]="cForm.form.invalid" class="btn btn-danger"
                                    type="submit">Missing Fields</button>
                                  <button [class.d-none]="cForm.form.invalid" [disabled]="cForm.form.invalid"
                                    class="btn btn-success" type="submit">Submit</button>
                
                                </div>
                
                
                
                              </div>
                         







                          


                        </form>



                    </div>

                </div>

            </div>
        </div>
    </div>

</div>